<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354705697642-kep3n3h2nie01k0pgcbeav9nia3ljs4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354705697642-kep3n3h2nie01k0pgcbeav9nia3ljs4h</string>
	<key>API_KEY</key>
	<string>AIzaSyBaZjubm1ac3s0af6-J0SihpmOdk-r78YM</string>
	<key>GCM_SENDER_ID</key>
	<string>354705697642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hoonseo.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-c7670</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-c7670.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354705697642:ios:4da879ece0ff8dd9b1d313</string>
</dict>
</plist>